body {
    /*background-color: #FFE8D1;*/
    position: relative;
    overflow: auto;
    align-content: center;
    background-color: white;
    /*display: flex;*/

}
.container-fluid{
    width: 100%;
    /*height: 85%;*/
    /*background-color: #FFE8D1;*/
    background-color: white;
    justify-content: center;
    /*display: flex;*/
}

.row{

}

.row #kolonaOmiljena{
    text-align: right;
}
.row #lok{
    text-align: right;

}

#drugiRed{
    min-height: 300px;
}

/*#drugiRed #SlikeNekretnine{*/
/*    height: 80%;*/
/*}*/
/*#drugiRed #SlikeNekretnine #slajdovi{*/
/*    height: 100%;*/
/*}*/


.carousel-inner .carousel-item {
    height: 250px;
}

.carousel-inner .carousel-item a img {
    position: relative;
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width:100%;
    min-height: 250px;
}
#nazivNek{
    text-align: left;
    /*margin-bottom:2px;*/
    /*justify-content: end;*/
}

#drugiRedKolonaDva{
    text-align: right;
}
#tekstLok{
    margin-bottom: 2px;
}

/*.container-fluid #SlikeNekretnine{*/
/*    width: 50%;*/
/*    height: 50%;*/
/*}*/

#nazivNek{
    text-align: center;
    justify-content: center;

}
#header {
    position: relative;
    width: 100%;
    height: 10%;
    left: 0px;
    background: #568EA3;
    /*top: 0px;*/
    /*height: 10%;*/
    /*top:0px;*/
    text-align: center;
    color:#FFE8D1;
    font-family: "Roboto Light";

}

#header img{
    width:20%;
}

#footer {
    width:100%;
    background: #568EA3;
    position: relative;
    bottom:0;
    height: 5%;
    text-align: center;
    color: #FFE8D1;
    font-family: 'Courier New';
}

#hlogo{
    color: white;
    /*color: #FFE8D1;*/
}

#dugmeLog{
    /*color: #FFE8D1;*/
    color: white;
    background-color: #68C3D4;
    border-color: #68C3D4;
}
#dugmeReg{
    /*color: #FFE8D1;*/
    color: white;
    background-color: #68C3D4;
    border-color: #68C3D4;
}
#pocL{
    /*color:#FFE8D1;*/
    /*font-family: "Roboto Light";*/
    color: white;
    font-size:20px;
    font-family: "Helvetica";
}
#pocL2{
    /*color:#FFE8D1;*/
    /*font-family: "Roboto Light";*/
    color: white;
    font-size:20px;
    font-family: "Helvetica";
}
#pocL3{
    /*color:#FFE8D1;*/
    /*font-family: "Roboto Light";*/
    color: white;
    font-size:20px;
    font-family: "Helvetica";
}

.cenaNekretnine{
    font-size: 20px;
}

#tip1{
    border: 2px solid black;
    background-color: whitesmoke;

    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#desnoTekst{
    text-align: right;
}