body {
    background-color: #FFE8D1;
    position: relative;
    overflow: auto;
    align-content: center;
    /*display: flex;*/

}
.container{
    width: 100%;
    background-color: #FFE8D1;
    justify-content: center;
    /*display: flex;*/
}
.row{

    width:100%;
    justify-content: center;
}

#header {
    position: relative;
    width: 100%;
    height: 10%;
    left: 0px;
    background: #568EA3;
    /*top: 0px;*/
    /*height: 10%;*/
    /*top:0px;*/
    text-align: center;
    color:#FFE8D1;
    font-family: "Roboto Light";
    font-style: italic;



}

#header img{
    width:20%;
}

#footer {
    background: #568EA3;
    /*position: fixed;*/
    bottom:0;
    height: 5%;
    text-align: center;
    color: #FFE8D1;
    font-family: 'Courier New';
}
