body {
    /*background-color: #FFE8D1;*/
    position: relative;
    overflow: auto;
    align-content: center;
    /*display: flex;*/

}
.container-fluid{
    width: 100%;
    /*height: 85%;*/
    /*background-color: #FFE8D1;*/
    overflow: auto;
    justify-content: center;
}
.row{
    /*width:100%;*/
    justify-content: center;
}


#header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 10%;
    left: 0px;
    background: #568EA3;
    /*top: 0px;*/
    /*height: 10%;*/
    /*top:0px;*/
    text-align: center;
    /*color:#FFE8D1;*/
    color: white;
    font-family: "Roboto Light";




}

#hlogo{
    /*color: #FFE8D1;*/
    color: floralwhite;

}

#dugmeLog{
    /*color: #FFE8D1;*/
    color: white;
    background-color: #68C3D4;
    border-color: #68C3D4;
}
#dugmeReg{
    /*color: #FFE8D1;*/
    color:white;
    background-color: #68C3D4;
    border-color: #68C3D4;
}
#pocL{
    /*color:#FFE8D1;*/
    color: white;
    font-size:20px;
    font-family: "Helvetica";
}
#pocL2{
    /*color:#FFE8D1;*/
    color: white;
    font-family: "Helvetica";
    font-size:20px;
}
#pocL3{
    /*color:#FFE8D1;*/
    color: white;
    font-size:20px;
    font-family: "Helvetica";
}
#footer {
    background: #568EA3;
    background-color: #568EA3;
    width: 100%;
    /*position: relative;*/
    position: fixed;
    bottom:0;
    height: 5%;
    text-align: center;
    /*color: #FFE8D1;*/
    color: white;
    font-family: 'Courier New';
}

#styleOne{
    border:0;
    height:3px;
    background: #568EA3;
}

/*#loginForma{*/
/*    background: #68C3D4;*/
/*    border: 2px solid #735751;*/
/*    box-sizing: border-box;*/
/*    border-radius: 9px;*/
/*    text-align: center;*/
/*}*/
/*#regForma {*/
/*    background: #68C3D4;*/
/*    border: 2px solid #735751;*/
/*    box-sizing: border-box;*/
/*    border-radius: 9px;*/
/*    text-align: center;*/
/*}*/

#loginModal .modal-dialog{
    background-color: #68C3D4;
    justify-content: center;
}

.modal-login{
    color: #68C3D4;
    background: #68C3D4;
    width:350px;
    margin: 80px auto 0;
    justify-content: center;
}

.modal-login .modal-content{
    padding:20px;
    border-radius:5px;
    border:none;
    justify-content: center;
}

.modal-login .modal-header{
    background-color: #68C3D4;
    border-bottom: none;
    position:relative;
    text-align: center;
}

.modal-login h4{
    text-align: center;
    justify-content: center;
    font-size: 26px;
    margin:30px 0 -15px;
    color: white;
}

.modal-login .form-control:focus{
    border-color: black;
}

.modal-login .form-control .modal-login .btn{
    min-height: 40px;
    border-radius:3px;
}

.modal-login .close{
    position:absolute;
    top:-5px;
    right:-5px;
}

.modal-login .btn:hover, .modal-login .btn:focus{
    background: #45aba6;
    outline:none;
}
.trigger-btn{
    display: inline-block;
    margin: 100px auto;
}

#LogSubmit{
    background-color: #68C3D4;
}
#regDugme{
    background-color: #68C3D4;
}

.oglas{
    z-index: 4;
    background-color: white
}
.sredina{
    margin-bottom: 50px;
    ;
}

.link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
}
.link-button:focus {
    outline: none;
}
.link-button:active {
    color:red;
}

.card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}